<center>
  <h1>Bandwidth Data</h1>
  <h2>Annual</h2>
  <div id="div_g" style="width:95%; height:80%;"></div>
  <img id="outImg" \>
  <button id="btnPing">Ping</button>
  <button id="btnDownload">Download</button>
  <button id="btnUpload">Upload</button>
</center>
<script>
  // var img = document.getElementById('outImg');
  logData = "{{m}}";
  logData = logData.replace(/---/g,"\n");

  var graph = new Dygraph(document.getElementById("div_g"), logData,
  {
    drawPoints: true,
    valueRange: [0, 400],
    colors: ["rgb(51,204,204)","#00DD55","rgb(255,100,100)","rgba(50,50,200,0.4)"],
    file: logData,
    rollPeriod: 1,
    showRoller: false,
    animatedZooms: false,
    legend: 'always',
    ylabel: 'Mbit / s',
    labelsDivStyles: { 'textAlign': 'right' },
    axes: {
      y2: {
        valueRange: [0, 65]
      }
    },
    series: {
      "Ping": { axis: 'y2' }
    }
  });
  // Dygraph.Export.asPNG(graph, img);
  document.addEventListener("DOMContentLoaded", function(event) {
    function getAllSeries(graph) {
      return graph.getLabels().slice(1,graph.getLabels().length);
    }
    function getSeriesIndex(graph,seriesLabel) {
      return getAllSeries(graph).indexOf(seriesLabel);
    }
    function toggleVisibility(graph, series) {
      var allSeries = getAllSeries(graph);
      var vis = graph.getPropertiesForSeries(series).visible;
      graph.setVisibility(getSeriesIndex(graph, series),!vis);
    }
    document.getElementById("btnPing").addEventListener("click",
      function(){ toggleVisibility(graph, 'Ping') }
    );
    document.getElementById("btnDownload").addEventListener("click",
      function(){ toggleVisibility(graph, 'Download') }
    );
    document.getElementById("btnUpload").addEventListener("click",
      function(){ toggleVisibility(graph, 'Upload') }
    );
  });
</script>
